@import './base.css';

#app {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: bolder;
  font-family: 'GloriaHallelujah';
}

@font-face {
  font-family: 'GloriaHallelujah';
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url('/fonts/GloriaHallelujah-Regular.ttf') format('truetype');
}
